<h1>Try <%= @cocktail.name %></h1>

<ul>
  <% @doses.each do |dose| %>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>



<%= link_to "Add a new Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-warning"%>
<br>
<%= link_to "Back to all Cocktails", cocktails_path %>
